@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(216 20% 95.098%);
  --foreground: hsl(240 27.7778% 14.1176%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 27.7778% 14.1176%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 27.7778% 14.1176%);
  --primary: hsl(262.5 34.4828% 45.4902%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 87.8431%);
  --secondary-foreground: hsl(240 27.7778% 14.1176%);
  --muted: hsl(0 0% 96.0784%);
  --muted-foreground: hsl(220 8.9362% 46.0784%);
  --accent: hsl(0 0% 91.7647%);
  --accent-foreground: hsl(240 27.7778% 14.1176%);
  --destructive: hsl(0 72.2222% 50.5882%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(216 12.1951% 83.9216%);
  --input: hsl(0 0% 87.8431%);
  --ring: hsl(262.5 34.4828% 45.4902%);
  --chart-1: hsl(238.7324 83.5294% 66.6667%);
  --chart-2: hsl(330.3659 81.1881% 60.3922%);
  --chart-3: hsl(37.6923 92.126% 50.1961%);
  --chart-4: hsl(160.1183 84.0796% 39.4118%);
  --chart-5: hsl(217.2193 91.2195% 59.8039%);
  --sidebar: hsl(0 0% 97.2549%);
  --sidebar-foreground: hsl(240 27.7778% 14.1176%);
  --sidebar-primary: hsl(262.5 34.4828% 45.4902%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(0 0% 91.7647%);
  --sidebar-accent-foreground: hsl(240 27.7778% 14.1176%);
  --sidebar-border: hsl(216 12.1951% 83.9216%);
  --sidebar-ring: hsl(262.5 34.4828% 45.4902%);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-roboto: "Roboto Mono", monospace;
  --font-nunito: "Nunito", sans-serif;
  --radius: 0.75rem;
  --shadow-x: 0rem;
  --shadow-y: 0.3rem;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.08;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.04);
  --shadow-xs: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.04);
  --shadow-sm: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.08),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.08),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.08),
    0rem 2px 4px -1px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.08),
    0rem 4px 6px -1px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.08),
    0rem 8px 10px -1px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --breakpoint-2xm: 23.4375rem; /* 375px */
  --breakpoint-1xm: 26.5625rem; /* 425px */

  
}

.dark {
  --background: hsl(240 33.3333% 17.0588%);
  --foreground: hsl(0 0% 87.8431%);
  --card: hsl(240 25.6637% 22.1569%);
  --card-foreground: hsl(0 0% 87.8431%);
  --popover: hsl(240 25.6637% 22.1569%);
  --popover-foreground: hsl(0 0% 87.8431%);
  --primary: hsl(262.4096 38.9671% 58.2353%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(240 20.7547% 31.1765%);
  --secondary-foreground: hsl(0 0% 87.8431%);
  --muted: hsl(240 22.1477% 29.2157%);
  --muted-foreground: hsl(213.75 20.2532% 69.0196%);
  --accent: hsl(240 22.1477% 29.2157%);
  --accent-foreground: hsl(0 0% 87.8431%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(240 22.1477% 29.2157%);
  --input: hsl(240 22.1477% 29.2157%);
  --ring: hsl(262.4096 38.9671% 58.2353%);
  --chart-1: hsl(238.7324 83.5294% 66.6667%);
  --chart-2: hsl(330.3659 81.1881% 60.3922%);
  --chart-3: hsl(37.6923 92.126% 50.1961%);
  --chart-4: hsl(160.1183 84.0796% 39.4118%);
  --chart-5: hsl(217.2193 91.2195% 59.8039%);
  --sidebar: hsl(240 31.5789% 14.902%);
  --sidebar-foreground: hsl(0 0% 87.8431%);
  --sidebar-primary: hsl(262.4096 38.9671% 58.2353%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 22.1477% 29.2157%);
  --sidebar-accent-foreground: hsl(0 0% 87.8431%);
  --sidebar-border: hsl(240 22.1477% 29.2157%);
  --sidebar-ring: hsl(262.4096 38.9671% 58.2353%);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", monospace;
   --font-roboto: "Roboto Mono", monospace;
  --font-nunito: "Nunito", sans-serif;
  --radius: 0.75rem;
  --shadow-x: 0rem;
  --shadow-y: 0.3rem;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.2);
  --shadow-xs: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.2);
  --shadow-sm: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.4),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.4),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.4),
    0rem 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.4),
    0rem 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 0.4),
    0rem 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0rem 0.3rem 0.8rem 0rem hsl(0 0% 0% / 1);

  /* break point */
  --breakpoint-2xm: 23.4375rem; /* 375px */
  --breakpoint-1xm: 26.5625rem; /* 425px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-roboto: var(--font-roboto);
  --font-nunito: var(--font-nunito);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

 /* break point */
  --breakpoint-2xm: 23.4375rem; /* 375px */
  --breakpoint-1xm: 26.5625rem; /* 425px */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.zoom{
  @apply transition-all scale-100 duration-200 ease-in-out hover:scale-110
}


.anime{
  @apply transition-all duration-300 ease-in-out
}

/* Scrollbar width */
::-webkit-scrollbar {
  /* Width of the scrollbar */
  @apply w-1 h-2; 
  
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
   @apply bg-transparent; /* Background color of the track */
}

/* Scrollbar thumb (the bar that moves) */
::-webkit-scrollbar-thumb {
  @apply bg-foreground/20 rounded-md; /* Color of the scrollbar thumb */     
}


